#container{
    position: fixed;
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid #ccc;
    /* background-color: blue; */
    border: activecaption;
}

body{
    background-color: antiquewhite;
}